<app-header></app-header>
<div id="banner-area">
  <img src="assets/images/banner/banner1-header-article.png" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>Contáctanos</h2>
      <ul class="breadcrumb">
        <li><a href="./">Inicio</a></li>
        <li>Gestión de Calidad</li>
        <li>Contacto</li>
      </ul>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->


<!-- Main container start -->

<section id="main-container">
    <div class="container">

        <div class="gap-40"></div>

        <div class="row">
            <div class="col-md-12 heading">
                <span class="title-icon classic pull-left"><i class="fa fa-users"></i></span>
                <h2 class="title classic">Nuestro Equipo</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="team team-list wow slideInLeft">
                    <div class="img-hexagon">
                        <img src="assets/images/team/team1.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3> Sandra Leticia Castañeda Sanchez</h3>
                        <p>Jefa de Oficina del Sistema de Gestión de Calidad</p>   
                        <p><i class="fa fa-envelope"></i> jo.sgc@utsalamanca.edu.mx</p>    
                     
                        </div>
                    </div>
                
            </div><!--/ Team 1 end -->
            <div class="col-md-6 col-sm-6">
                <div class="team team-list wow slideInRight">
                    <div class="img-hexagon">
                        <img src="assets/images/team/team2.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3>Robert Aleska</h3>
                        <p>Web Designer</p>
                        <p class="desc">Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        <div class="team-social">
                            <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twt" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/ Team 2 end -->
        </div><!--/ Content row end -->
    </div><!--/ container end -->
</section><!--/ Main container end -->


<div class="gap-40"></div>

<app-footer></app-footer>