<!-- Places of interest start -->
<section id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading text-center">
                <span class="icon-pentagon wow bounceIn"><i class="fa fa-building"></i></span>
                <h2 class="title2">Sitios de Interés
                    <span class="title-desc">Conoce los sitios de interés del SGC</span>
                </h2>
            </div>
        </div> <!-- Title row end -->

        <div class="row wow fadeInLeft">
            <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon1-cned.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon2-consejo-rectores.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon3-ue.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon4-cna.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon5-qs.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icon6-asq.png" alt="client">
                    </a>
                </figure>
                <figure class="item client_logo">
                    <a href="#">
                        <img src="assets/images/clients/icone7-world-university-rankings.png" alt="client">
                    </a>
                </figure>
            </div><!-- Owl carousel end -->
        </div><!-- Main row end -->
    </div>
    <!--/ Container end -->
</section>
<!--/ Places of interest end -->