<!-- Header start -->
<header id="header" class="navbar-fixed-top header" role="banner">
    <div class="row">
        <div class="col-sm-2">
            <!-- Logo start -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-bg">
                    <a href="./">
                        <img class="img-responsive" src="assets/images/logo_uts_blanco.png" alt="logo sgc"
                            title="Sistema de Gestión de Calidad">
                    </a>
                </div>
            </div>
            <!--/ Logo end -->
        </div>
        <div class="col-sm-10">
            <nav class="collapse navbar-collapse clearfix" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="./" class="dropdown-toggle">Inicio </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calidad UTS <i
                                class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a routerLink="/en-que-creemos" routerLinkActive="active-link">¿En qué Creemos?</a></li>
                                <li><a routerLink="/como-lo-hacemos" routerLinkActive="active-link">¿Cómo lo Hacemos?</a></li>
                                <li><a routerLink="/quienes-somos" routerLinkActive="active-link">¿Quiénes Somos?</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión de Calidad <i
                                class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a routerLink="/politica-de-la-calidad" routerLinkActive="active-link">Política de Calidad</a></li>
                                <li><a routerLink="/alcance" routerLinkActive="active-link">Alcance</a></li>
                                <li><a routerLink="/mapa" routerLinkActive="active-link">Mapa de Procesos</a></li>
                                <li><a routerLink="/documentos" routerLinkActive="active-link">Documentos</a></li>
                                <li><a routerLink="/revisiones" routerLinkActive="active-link">Revisiones por la Rectoría</a></li>
                               <!---- <li><a href="#">Reglamento</a></li>
                                <li><a href="#">Consejo General de Calidad</a></li>
                                <li><a href="#">Consejos de Calidad de Unidades</a></li>
                                <li><a href="#">Gestión por Procesos</a></li>
                                <li><a href="#">Cultura de Calidad</a></li>
                                <li><a href="#">Mejora Continua</a></li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Certificaciones y Acreditaciones <i
                                class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a routerLink="/acreditacion-institucional" routerLinkActive="active-link">Programas Académicos</a></li>
                                <li><a routerLink="/acreditacion-certificacion-pregrado" routerLinkActive="active-link">NMX-R-025-SCFI-2015</a></li>
                                <!-- <li><a href="#">Acreditación Postgrado</a></li>
                                <li><a href="#">Acreditación Internacional</a></li>
                                <li><a href="#">Materiales de Acreditación</a></li>
                                <li><a href="#">Autoevaluación</a></li> -->
                            </ul>
                        </div>
                    </li>
                  <!----  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos de Mejora <i
                                class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="#">Registro Académico de Postgrado</a></li>
                                <li><a href="#">Vinculación de Titulados y Graduados</a></li>
                                <li><a href="#">Registro de Actividades de Vinculación con el Medio</a></li>
                                <li><a href="#">Gestión Directiva del Plan Estratégico Institucional</a></li>
                                <li><a href="#">Proyectos de Mejora Realizados</a></li>
                            </ul>
                        </div>
                    </li>-->
                   <!---- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos de Cambio <i
                                class="fa fa-angle-down"></i></a>
                    </li> -->
                    <li><a routerLink="/contacto">Contáctanos</a></li>
                    <li><a (click)="logout()" *ngIf="isLoggedIn()">Cerrar Sesión</a></li>
                </ul>
            </nav>
            <!--/ Navigation end -->
        </div>
    </div>
    <!--/ Row end -->
</header>
<!--/ Header end -->