<app-header></app-header>
<div id="banner-area">
  <img src="assets/images/banner/banner1-header-article.png" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>CONOCER</h2>
      <ul class="breadcrumb">
        <li><a href="./">Inicio</a></li>
        <li>Certificaciones y Acreditaciones</li>
        <li>CONOCER</li>
      </ul>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->


<div class="gap-40"></div>


<section id="main-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <!-- CG-2021-02 IMET-->
          <h3 class="title-border">CG-2021-02 IMET</h3>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev1">Ver
                    Documentación</a>
                </h4>
              </div>
              <div id="collapseRev1" class="panel-collapse collapse">
                <div class="panel-body">
  
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre del Documento</th>
                   
                        <th scope="col">Abrir Documento</th>
                      </tr>
                    </thead>
                    <tbody>
  
                      <tr>
                        <th scope="row"> CG-2021-02 IMET</th>
                        
                        <td><a class="text-highlight" href="/assets/certificaciones/CG-2021-02 IMET.pdf"
                            target="_blank" title="XXX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                      </tr>
  
                  </table>
                </div>
  
              </div>
            </div>
          </div>
          <!--/ Panel CG-2021-02 IMET end-->

            <!--CG-2021-05 _ Dictamen CIEES-UTS (PE-QAI)-->
            <h3 class="title-border mt-5">CG-2021-05 Dictamen CIEES-UTS (PE-QAI)</h3>
         
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev2">Ver
                      Documentación</a>
                  </h4>
                </div>
                <div id="collapseRev2" class="panel-collapse collapse">
                  <div class="panel-body">
    
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Nombre del Documento</th>
                    
                          <th scope="col">Abrir Documento</th>
                        </tr>
                      </thead>
                      <tbody>
    
                        <tr>
                          <th scope="row"> CG-2021-05 _ Dictamen CIEES-UTS (PE-QAI)</th>
                         
                          <td><a class="text-highlight" href="/assets/certificaciones/CG-2021-05 _ Dictamen CIEES-UTS (PE-QAI).pdf"
                              target="_blank" title="XXIX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                        </tr>
    
                    </table>
                  </div>
    
                </div>
              </div>
            </div>
            <!--/ Panel CG-2021-05 _ Dictamen CIEES-UTS (PE-QAI) end-->

             <!-- Panel CG-2021-1143 REC_ERC-->
             <h3 class="title-border mt-5">CG-2021-1143 REC_ERC</h3>
         
             <div class="panel-group" id="accordion">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev3">Ver
                       Documentación</a>
                   </h4>
                 </div>
                 <div id="collapseRev3" class="panel-collapse collapse">
                   <div class="panel-body">
     
                     <table class="table">
                       <thead class="thead-dark">
                         <tr>
                           <th scope="col">Nombre del Documento</th>
                           
                           <th scope="col">Abrir Documento</th>
                         </tr>
                       </thead>
                       <tbody>
     
                         <tr>
                           <th scope="row">  CG-2021-1143 REC_ERC</th>
                          
                           <td><a class="text-highlight" href="/assets/certificaciones/CG-2021-1143 REC_ERC.pdf"
                               target="_blank" title="XXVIII"> <img src="/assets/images/pdf.jpg" alt=""></a></td>
                         </tr>
     
                     </table>
                   </div>
     
                 </div>
               </div>
             </div>
             <!--/ Panel CG-2021-1143 REC_ERC end-->

             

        </div>
        <!--/ Accordion fin -->
  
      </div>
    </div>
        </section>  

<app-footer></app-footer>
