<!-- Footer start -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-widget">
                <h3 class="widget-title">Enlaces</h3>
                <div class="latest-post-items media">
                    <div class="latest-post-content media-body">
                        <h4><a routerLink="/en-que-creemos">¿En qué Creemos?</a></h4>
                    </div>
                </div><!-- 1st frequent links end -->

                <div class="latest-post-items media">
                    <div class="latest-post-content media-body">
                        <h4><a routerLink="/como-lo-hacemos">¿Cómo lo Hacemos?</a></h4>
                    </div>
                </div><!-- 2nd frequent links end -->

                <div class="latest-post-items media">
                    <div class="latest-post-content media-body">
                        <h4><a routerLink="/quienes-somos">¿Quiénes Somos?</a></h4>
                    </div>
                </div><!-- 3rd frequent links end -->

                <div class="latest-post-items media">
                    <div class="latest-post-content media-body">
                        <h4><a routerLink="/politica-de-la-calidad">Política de la Calidad</a></h4>
                    </div>
                </div><!-- 4th frequent links end -->

                <div class="latest-post-items media">
                    <div class="latest-post-content media-body">
                        <h4><a href="#">Reglamento</a></h4>
                    </div>
                </div><!-- 5th frequent links end -->

            </div>
            <!--/ End Recent Posts-->


            <div class="col-md-4 col-sm-12 footer-widget">
                <h3 class="widget-title">Galería de Fotos</h3>

                <div class="img-gallery">
                    <div class="img-container">
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/1.jpg">
                            <img src="assets/images/gallery/1.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/2.jpg">
                            <img src="assets/images/gallery/2.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/3.jpg">
                            <img src="assets/images/gallery/3.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/4.jpg">
                            <img src="assets/images/gallery/4.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/5.jpg">
                            <img src="assets/images/gallery/5.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/6.jpg">
                            <img src="assets/images/gallery/6.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/7.jpg">
                            <img src="assets/images/gallery/7.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/8.jpg">
                            <img src="assets/images/gallery/8.jpg" alt="">
                        </a>
                        <a class="thumb-holder" data-lightbox="roadtrip" href="assets/images/gallery/9.jpg">
                            <img src="assets/images/gallery/9.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!--/ end flickr -->

            <div class="col-md-3 col-sm-12 footer-widget footer-about-us">
                <h3 class="widget-title">Acerca de</h3>
                <p>Sistema de Gestión de la Calidad</p>
                <h4>Dirección</h4>
                <p>Av Universidad Tecnológica 200, Arboledas de Cd Bajío, 36766 Salamanca, Gto.</p>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Email</h4>
                        <p>jo.sgc@utsalamanca.edu.mx</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Teléfono</h4>
                        <p>01 (464) 647 38 61</p>
                    </div>
                </div>
            </div>
            <!--/ end about us -->

        </div><!-- Row end -->
    </div><!-- Container end -->
</footer><!-- Footer end -->

<!-- Copyright start -->
<section id="copyright" class="copyright angle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-social unstyled">
                    <li>
                        <a title="Twitter" href="https://twitter.com/UTSoficial" target="_blank">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a title="Facebook" href="https://www.facebook.com/UTSalamanca/" target="_blank">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a title="Google+" href="https://www.youtube.com/channel/UC7WAk8k8n_Nd91EXH9B1LHA" target="_blank">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-youtube"></i></span>
                        </a>
                        <a title="linkedin" href="https://www.instagram.com/utsoficial/" target="_blank">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-instagram"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--/ Row end -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright-info">
                    &copy; Copyright <strong id="fecha"> </strong> <span><a href="http://www.utsalamanca.edu.mx/" target="_blank"> Universidad
                            Tecnológica de Salamanca</a></span>
                </div>
            </div>
        </div>
        <!--/ Row end -->
        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
        </div>
    </div>
    <!--/ Container end -->
</section>
<!--/ Copyright end -->