<app-header></app-header>
<div id="banner-area">
  <img src="assets/images/banner/banner1-header-article.png" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>Acreditación NMX-R-025-SCFI-2015</h2>
      <ul class="breadcrumb">
        <li><a href="./">Inicio</a></li>
        <li>Certificaciones y Acreditaciones</li>
        <li>NMX-R-025 Igualdad Laboral y No Discriminación</li>
      </ul>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->


<div class="gap-40"></div>


<section id="main-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <!--  Norma Mexicana NMX-R-025-SCFI-2015.-->
          <h3 class="title-border"> NMX-R-025 Igualdad Laboral y No Discriminación</h3>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNom1">Ver
                    Documentación</a>
                </h4>
              </div>
              <div id="collapseNom1" class="panel-collapse collapse">
                <div class="panel-body">
  
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre del Documento</th>
                   
                        <th scope="col">Abrir Documento</th>
                      </tr>
                    </thead>
                    <tbody>
  
                      <tr>
                        <th scope="row"> NOTIFICACIÓN DEL RESULTADO</th>                      
                        <td><a class="text-highlight" href="/assets/certificaciones/NOM/NOTIFICACIÓN DEL RESULTADO.pdf"
                            target="_blank" title="XXX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                      </tr>

                      <tr>
                        <th scope="row"> CERTIFICADO DE REGISTRO</th>                      
                        <td><a class="text-highlight" href="/assets/certificaciones/NOM/CERTIFICADO DE REGISTRO.pdf"
                            target="_blank" title="XXX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                      </tr>

                      <tr>
                        <th scope="row"> REGLAMENTO DE USO DE MARCA Y LOGOTIPO</th>                      
                        <td><a class="text-highlight" href="/assets/certificaciones/NOM/REGLAMENTO DE USO DE MARCA Y LOGOTIPO_VERSION 05.pdf"
                            target="_blank" title="XXX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                      </tr>

                      

                  </table>
                </div>
  
              </div>
            </div>
          </div>
          <!--/ Norma Mexicana NMX-R-025-SCFI-2015 end-->

            
        </div>
        <!--/ Accordion fin -->
  
      </div>
    </div>
        </section>  

<app-footer></app-footer>
