<app-header></app-header>
<div id="banner-area">
    <img src="assets/images/banner/banner1-header-article.png" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Iniciar Sesión</h2>
            <ul class="breadcrumb">
                <li><a href="./">Inicio</a></li>
                <li>Gestión de Calidad</li>
                <li>Iniciar Sesión</li>
            </ul>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Main container start -->

<section id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-md-offset-3">
                <div class="plan">
                    <div *ngIf="showErrorMessage" class="p-3 mb-5 bg-danger text-white">
                        El nombre de usuario o contraseña son incorrectos.
                    </div>
                    <form (ngSubmit)="submit()" [formGroup]="form">
                        <div class="form-group">
                            <label>Nombre de Usuario</label>
                            <input class="form-control" formControlName="login" name="login" id="login" placeholder=""
                                type="text" [ngClass]="{'is-invalid' : submitted && f.login.errors}">
                            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                <div *ngIf="f.login.errors.required">
                                    El campo nombre de usuario es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input class="form-control" formControlName="password" name="password" id="password"
                                placeholder="" type="password"
                                [ngClass]="{'is-invalid' : submitted && f.password.errors}">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">
                                    El campo contraseña es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="text-right"><br>
                            <button class="btn btn-primary solid blank" type="submit">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ Team 4 end -->
        </div>
        <!--/ Content row end -->

        <div class="gap-40"></div>

    </div>
    <!--/ container end -->

</section>
<!--/ Main container end -->



<app-footer></app-footer>