<!-- Slider start -->
<section id="home" class="no-padding">

    <div id="main-slide" class="ts-flex-slider">

        <div class="flexSlideshow flexslider">
            <ul class="slides">
                
                <li>
                    <div class="overlay2">
                        
                        <img class="" src="assets/images/slider/banner01-calidad.png" alt="slider" >
                    </div>
                    
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="assets/images/slider/banner02-calidad.png" alt="slider">
                    </div>
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="assets/images/slider/banner03-calidad.png" alt="slider">
                    </div>
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="assets/images/slider/banner04-calidad.png" alt="slider">
                    </div>
                    
                </li>   
            </ul>
            
        </div>
    </div>
    <!--/ Main slider end -->
</section>
<!--/ Slider end -->