
<app-header></app-header>

<div id="banner-area">
    <img src="assets/images/banner/banner1-header-article.png" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
      <div class="text-center">
        <h2>Mapa de Procesos</h2>
        <ul class="breadcrumb">
          <li><a href="./">Inicio</a></li>
          <li>Gestión de Calidad</li>
          <li>Mapa de Procesos</li>
        </ul>
      </div>
    </div><!-- Subpage title end -->
  </div><!-- Banner area end -->

  
  <!-- Portfolio item start -->
	<section id="portfolio-item">
		<div class="text-center">
			
			
				<div class="img-fluid" alt="Mapa">
					<img src="assets/images/mapa/Mapa-de-Procesos-de-la-UTS-2024.jpg" style="max-width:100%;width:auto;height:auto;"alt ="Mapa UTS">
							
					</div>	
			<!-- botón -->
				<div class="text-center">
					<a href="assets/images/mapa/Mapa-de-Procesos-de-la-UTS-2024.jpg" target="_blank" class="project-btn btn btn-primary" > Ver completo</a>
                </div>
   
			
			</div><!-- Portfolio item row end -->

	</section><!-- Portfolio item end -->


<div class="gap-40"></div>

<app-footer></app-footer>
