<app-header></app-header>
<div id="banner-area">
    <img src="assets/images/banner/banner2-header-article.png" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>¿En qué Creemos?</h2>
            <ul class="breadcrumb">
                <li><a href="./"> Inicio</a></li>
                <li>Calidad UTS</li>
                <li>¿En qué Creemos?</li>
            </ul>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Main container start -->
<section id="main-container">
    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="assets/images/pages/01-en-que-creemos.jpg" class="card-img" alt="EN QUÉ CREEMOS">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text text-justify mt-5">Creemos en la Calidad, entendida como una cultura de la evaluación,
                            tanto interna como externa, en la que periódicamete se examinan planes y programas de estudio, métodos 
                            de enseñanza, materiales educativos, plantilla docente, infraestructura, equipamiento, aprovechamiento escolar y
                            desempeño administrativo, mismos que son valorados con la participación de pares, a través de una evaluación colegiada,
                            objetiva y transparente.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 1st container end -->
</section>
<!--/ Main container end -->

<div class="gap-40"></div>

<app-footer></app-footer>