<app-header></app-header>
<div id="banner-area">
    <img src="assets/images/banner/banner1-header-article.png" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Política de Calidad</h2>
            <ul class="breadcrumb">
                <li><a href="./">Inicio</a></li>
                <li>Gestión de Calidad</li>
                <li>Política de Calidad</li>
            </ul>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Main container start -->
<section id="main-container">
    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="assets/images/pages/04-politica-de-la-calidad.jpg" class="card-img"
                        alt="Política de la Calidad">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3>Política de Calidad</h3>
                        <p class="card-text text-justify">La Universidad Tecnológica de Salamanca satisface los
                            requisitos de los estudiantes y partes interesadas que, reciben sus servicios, con base en
                            la mejora continua del Sistema de Gestión de la Calidad.</p>
                        <h3>Alcance del Sistema</h3>
                        <p class="card-text text-justify">Servicio de Educación Superior, en el cual se integran las
                            funciones Académicas, Planeación, Gestión Administrativa, Investigación Aplicada, Extensión
                            Universitaria y Vinculación con los sectores productivo y social.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 1st container end -->
</section>
<!--/ Main container end -->

<div class="gap-40"></div>

<app-footer></app-footer>