<app-header></app-header>
<div id="banner-area">
  <img src="assets/images/banner/banner1-header-article.png" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>Revisiones por la Rectoría</h2>
      <ul class="breadcrumb">
        <li><a href="./">Inicio</a></li>
        <li>Gestión de Calidad</li>
        <li>Revisiones por la Rectoría</li>
      </ul>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->


<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
                <!-- Panel XXXIX-->
        <h3 class="title-border">XXXIX</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev39">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev39" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"> XXXIX REVISIÓN DEL SGC POR LA RECTORÍA SEPTIEMBRE-DICIEMBRE 2024</th>

                      <td><a class="text-highlight" href="/assets/revisiones/Revision_por_Rectoria_XXXIX_sep_dic_2024.pdf"
                          target="_blank" title="XXXIX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXIX end-->

        <!-- Panel XXXVII-->
        <h3 class="title-border">XXXVII</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev37">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev37" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"> XXXVII REVISIÓN DEL SGC POR LA RECTORÍA MAYO-AGOSTO 2024</th>

                      <td><a class="text-highlight" href="/assets/revisiones/XXXVII-Revision-Mayo-agosto-2024.pdf"
                          target="_blank" title="XXXVII"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                    <tr>
                      <th scope="row"> XXXVII REVISIÓN DEL SGC POR LA RECTORÍA ENERO-ABRIL 2024</th>

                      <td><a class="text-highlight" href="/assets/revisiones/XXXVII_Revision_Enero-Abril_2024.pdf"
                          target="_blank" title="XXXVII"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXVII end-->
        <!-- Panel XXXVI-->
        <h3 class="title-border">XXXVI</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev36">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev36" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXVI REVISIÓN DEL SGC POR LA RECTORÍA SEPTIEMBRE-DICIEMBRE 2023</th>

                      <td><a class="text-highlight" href="/assets/revisiones/XXXVI_Revision_septiembre-diciembre_2023.pdf"
                          target="_blank" title="XXXVI"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXVI end-->
        <!-- Panel XXXV-->
        <h3 class="title-border">XXXV</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev35">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev35" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXV REVISIÓN DEL SGC POR LA RECTORÍA MAYO-AGOSTO 2023</th>

                      <td><a class="text-highlight" href="/assets/revisiones/XXXV-REVISION-DEL-SGC-Mayo-Agosto-2023.pdf"
                          target="_blank" title="XXXV"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXV end-->
        <!-- Panel XXXIV-->
        <h3 class="title-border">XXXIV</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev34">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev34" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXIV REVISIÓN DEL SGC POR LA RECTORÍA ENERO-ABRIL 2023</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/Presentacion-REVISION-XXXIV-DEL-SGC-Enero-abril-2023.pdf"
                          target="_blank" title="XXXIV"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXIV end-->
        <!-- Panel XXXIII-->
        <h3 class="title-border">XXXIII</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev33">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev33" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXIII REVISIÓN DEL SGC POR LA RECTORÍA SEPTIEMBRE-DICIEMBRE 2022</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/Presentacion-REVISION-XXXIII-DEL-SGC-Sep-Dic22.pdf" target="_blank"
                          title="XXXIII"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXIII end-->
        <!-- Panel XXXII-->
        <h3 class="title-border">XXXII</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev32">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev32" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXII REVISIÓN DEL SGC POR LA RECTORÍA MAYO-AGOSTO 2022</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/REVISION-XXXII-DEL-SGC-19-10-2022-1-002.pdf" target="_blank"
                          title="XXXII"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXII end-->

        <!-- Panel XXXI-->
        <h3 class="title-border">XXXI</h3>
        <div class="panel-group mb-5" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev31">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev31" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXXI REVISIÓN DEL SGC POR LA RECTORÍA ENERO-ABRIL 2022</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XXXI_Informe_final_de_Revision_enero_abril_2022_firmado.pdf"
                          target="_blank" title="XXXI"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXXI end-->

        <!-- Panel XXX-->
        <h3 class="title-border">XXX</h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev1">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev1" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXX REVISIÓN DEL SGC POR LA RECTORÍA SEPTIEMBRE-DICIEMBRE 2021</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/Presentación REVISIÓN XXX Septiembre-Diciembre 2021.pdf"
                          target="_blank" title="XXX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXX end-->

        <!-- Panel XXIX-->
        <h3 class="title-border mt-5">XXIX</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev2">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev2" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXIX REVISIÓN DEL SGC POR LA RECTORÍA MAYO-AGOSTO 2021</th>

                      <td><a class="text-highlight" href="/assets/revisiones/Revisión XXIX Mayo-Agosto 2021.pdf"
                          target="_blank" title="XXIX"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXIX end-->

        <!-- Panel XXVIII-->
        <h3 class="title-border mt-5">XXVIII</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev3">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev3" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> XXVIII REVISIÓN DEL SGC POR LA RECTORÍA</th>

                      <td><a class="text-highlight" href="/assets/revisiones/Revision_por_la_Rectoria_XXVIII.pdf"
                          target="_blank" title="XXVIII"> <img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXVIII end-->

        <!-- Panel XXVI / XXVII-->
        <h3 class="title-border mt-5">XXVI / XXVII</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev4">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev4" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE MAYO-AGOSTO DE 2020 Y SEPTIEMBRE-DICIEMBRE DE 2020.</th>

                      <td><a class="text-highlight" href="/assets/revisiones/XXVI_Y_XXVII_Revision_por_la_Rectoria.pdf"
                          target="_blank" title="CUATRIMESTRE"> <img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXVI / XXVII end-->

        <!-- Panel XXV-->
        <h3 class="title-border mt-5">XXV</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev5">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev5" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE ENERO-ABRIL 2020.</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XXV_Revision_por_la_Rectoria_ENERO_ABRIL_2020_final_observaciones_atendidas.pdf"
                          target="_blank" title="CUATRIMESTRE"> <img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXV end-->

        <!-- Panel XXII-->
        <h3 class="title-border mt-5">XXII</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev6">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev6" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE ENERO-ABRIL 2019.</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XXII_Revision_por_la_Rectoria_Enero_Abril_2019.pdf" target="_blank"
                          title="CUATRIMESTRE"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XXII end-->

        <!-- Panel XX-->
        <h3 class="title-border mt-5">XX</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev7">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev7" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE MAYO-AGOSTO 2018.</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XX_Revision_por_la_Rectora_Mayo_Agosto_2018.pdf" target="_blank"
                          title="CUATRIMESTRE"> <img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XX end-->


        <!-- Panel XIX-->
        <h3 class="title-border mt-5">XIX</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev8">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev8" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE ENERO-ABRIL 2018.</th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XIX_Revision_por_la_Rectoria_ENERO_ABRIL_2018.pdf" target="_blank"
                          title="CUATRIMESTRE"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XIX end-->


        <!-- Panel XVI-->
        <h3 class="title-border mt-5">XVI</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev9">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev9" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE ENERO-ABRIL 2017.
                      </th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XVI-Revision-por-la-Rectoria-Ene-Abril-17.pdf" target="_blank"
                          title="CUATRIMESTRE"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XVI end-->

        <!-- Panel XVII / XVIII-->
        <h3 class="title-border mt-5">XVIII / XVII</h3>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRev10">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseRev10" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>

                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> CUATRIMESTRE MAYO-AGOSTO 2017 Y CUATRIMESTRE SEPTIEMBRE-DICIEMBRE 2017.
                      </th>

                      <td><a class="text-highlight"
                          href="/assets/revisiones/XVII-y-XVIII-Revision-por-la-Rectoria-mayo-agosto-y-septiembre-diciembre-17.pdf"
                          target="_blank" title="CUATRIMESTRE"><img src="/assets/images/pdf.jpg" alt=""></a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel XVII / XVIII end-->


      </div>
      <!--/ Accordion end -->

    </div>
  </div>
</section>

<div class="gap-40"></div>

<app-footer></app-footer>