<app-header></app-header>
<div id="banner-area">
    <img src="assets/images/banner/banner1-header-article.png" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Documentos</h2>
            <ul class="breadcrumb">
                <li><a href="./">Inicio</a></li>
                <li>Gestión de Calidad</li>
                <li>Documentos</li>
            </ul>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

                            <!-- Menú acordeón -->

<section id="main-container">
    <div class="container">
        <section id="main-container">
            <div class="container">
                
                <div class="row">
    
                    <div class="col-md-12">
                        <h3 class="title-border">Documentos de Calidad</h3>
    
                        <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRec">Rectoría</a> 
                                    </h4>
                                </div>
                                <div id="collapseRec" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                   
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <h4>Procedimientos</h4>
                                        <tr>
                                            <th scope="col">Nombre del Documento</th>
                                            <th scope="col">Fecha de Actualización</th>
                                            <th scope="col">Enlace</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                          </tr>
                                    
                                        
                                      </table>


                                  </div>
                                </div>
                              </div><!--/ Panel 1 end-->
    
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseDic"> Dirección de Carrera</a>
                                    </h4>
                                </div>
                                <div id="collapseDic" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 2 end-->
    
    
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEsc"> Servicios Escolares</a>
                                    </h4>
                                </div>
                                <div id="collapseEsc" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 3 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseDaf"> Dirección de Administración y Finanzas</a>
                                    </h4>
                                </div>
                                <div id="collapseDaf" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 4 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRh"> Recursos Humanos</a>
                                    </h4>
                                </div>
                                <div id="collapseRh" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 5 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRm"> Recursos Materiales</a>
                                    </h4>
                                </div>
                                <div id="collapseRm" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 6 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSae"> Servicios de Apoyo al Estudiante</a>
                                    </h4>
                                </div>
                                <div id="collapseSae" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 7 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSgc"> Sistema de Gestión de Calidad</a>
                                    </h4>
                                </div>
                                <div id="collapseSgc" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 8 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsePla"> Planeación</a>
                                    </h4>
                                </div>
                                <div id="collapsePla" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 9 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTi"> Tecnologías de la Información</a>
                                    </h4>
                                </div>
                                <div id="collapseTi" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 10 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseVin"> Vinculación</a>
                                    </h4>
                                </div>
                                <div id="collapseVin" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 11 end-->

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseMc"> Manual de Calidad</a>
                                    </h4>
                                </div>
                                <div id="collapseMc" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
                                  </div>
                                </div>
                              </div><!--/ Panel 12 end-->
    
                        </div><!--/ Fin acordeón -->
    

    
                    </div><!--/ Col end -->
     
                </div><!-- Content row  end -->
    
            </div><!--/ container end -->
    
        </section><!--/ Main container end -->
    </div>
    <!--/ 1st container end -->
</section>
<!--/ Main container end -->

<div class="gap-40"></div>

<app-footer></app-footer>
