<app-header></app-header>
<div id="banner-area">
  <img src="assets/images/banner/banner1-header-article.png" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>Documentos</h2>
      <ul class="breadcrumb">
        <li><a href="./">Inicio</a></li>
        <li>Gestión de Calidad</li>
        <li>Documentos</li>
      </ul>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Panel Especificaciones-->
        <h3 class="title-border">Especificaciones</h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEsp">Ver
                  Documentación</a>
              </h4>
            </div>
            <div id="collapseEsp" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> EPREC001-F Objetivos e Indicadores de Calidad.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Esp/EPREC001-F_Tabla_de_Objetivos.pdf"
                          target="_blank" title="EPREC001-F">EPREC001-F Objetivos e
                          Indicadores de Calidad.</a></td>
                    </tr>

                    <tr>
                      <th scope="row"> EPREC003-I ORGANIGRAMA.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Esp/EPREC003-I_Organigrama.pdf"
                          target="_blank" title="EPREC003-I">EPREC003-I ORGANIGRAMA.</a></td>
                    </tr>

                    <tr>
                      <th scope="row">EPREC004-C LISTA Y REQUISITOS DE PARTES INTERESADAS.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight"
                          href="/assets/documentos/Esp/EPREC004-C_Lista_y_Requisitos_de_partes_interesadas.pdf"
                          target="_blank" title="EPREC004-C">EPREC004-C LISTA Y REQUISITOS DE
                          PARTES INTERESADAS.</a></td>
                    </tr>


                    <tr>
                      <th scope="row">EPREC009-B TABLA DE RESPONSABILIDADES DE PROCEDIMIENTOS.
                      </th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight"
                          href="/assets/documentos/Esp/EPREC009-B_TABLA_DE_RESPONSABILIDADES_DE_PROCEDIMIENTOS.pdf"
                          target="_blank" title="EPREC009-B">EPREC009-B TABLA DE
                          RESPONSABILIDADES DE PROCEDIMIENTOS.</a></td>
                    </tr>

                    <tr>
                      <th scope="row">EPREC010-A MATRIZ DE EVALUACIÓN DE RIESGOS.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight"
                          href="/assets/documentos/Esp/EPREC010_A_matriz_de_evaluacion_de_riesgos.pdf" target="_blank"
                          title="EPREC010-A">EPREC010-A MATRIZ DE EVALUACIÓN
                          DE RIESGOS.</a></td>
                    </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!--/ Panel Especificaciones end-->

        <!-- Panel Rectoría-->
        <h3 class="title-border mt-5">Rectoría</h3>
<!-- Procedimientos-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRec1">PROCEDIMIENTOS</a>
             
              </h4>
            </div>
            <div id="collapseRec1" class="panel-collapse collapse ">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> PDREC001-F Comunicación.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Rec/PDREC001-F_Comunicacion.pdf"
                          target="_blank" title="PDREC001-F">PDREC001-F Comunicación.</a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div><!-- Fin Procedimientos-->

        <!-- Procesos-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRec2">Procesos</a>
               
              </h4>
            </div>
            <div id="collapseRec2" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> PRREC001-C Auditorías Internas.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Rec/PRREC001-C_REVISION_POR_LA_RECTORIA.pdf"
                          target="_blank" title="PRREC001-C">PRREC001-C Auditorías Internas.</a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div><!-- Fin Procesos-->

        <!-- registros-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRec3">Registros</a>
              </h4>
            </div>
            <div id="collapseRec3" class="panel-collapse collapse ">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> REREC002-C REVISIÓN POR LA RECTORÍA.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Rec/REREC002-C_REVISION_POR_LA_RECTORIA.pdf"
                          target="_blank" title="REREC002-C">REREC002-C REVISIÓN POR LA RECTORÍA.</a></td>
                    </tr>

                    <tr>
                      <th scope="row"> REREC003-A LISTA DE ASISTENCIA.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Rec/REREC003-A_LISTA_DE_ASISTENCIA.pdf"
                          target="_blank" title="REREC003-A">REREC003-A LISTA DE ASISTENCIA.</a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div><!-- Fin Procesos-->
        <!--/ Panel Rectoría end-->


        <!-- Panel Dirección de Carrera-->

        <h3 class="title-border mt-5">Dirección de Carrera</h3>


        <!-- Instructivos-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseD1">INSTRUCTIVOS</a>
             
              </h4>
            </div>
            <div id="collapseD1" class="panel-collapse collapse ">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> INDIC001-A Laboratorio de Química y Fisicoquímica.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets\documentos\Dic\Instructivos/INDIC001-A_Laboratorio_de_Quimica.pdf"
                          target="_blank" title="INDIC001-A">INDIC001-A Laboratorio de Química y Fisicoquímica.</a></td>
                    </tr>

                    <tr>
                      <th scope="row">  INDIC002-A Laboratorio de Energías Renovables.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Dic/Instructivos/INDIC002-A_Laboratorio_de_Energias.pdf"
                          target="_blank" title="INDIC002-A"> INDIC002-A Laboratorio de Energías Renovables.</a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div><!-- Fin Instructivos-->

        <!-- Procedimientos-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseD2">PROCEDIMIENTOS</a>
               
              </h4>
            </div>
            <div id="collapseD2" class="panel-collapse collapse">
              <div class="panel-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th scope="col">Última Actualización</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row"> PDCOA001-A Talleres y Laboratorios.</th>
                      <td>AAAA-MM-DD</td>
                      <td><a class="text-highlight" href="/assets/documentos/Dic/Procedimientos/PDCOA001-A_Laboratorios_y_Talleres.pdf"
                          target="_blank" title="PRREC001-C">PRREC001-C Auditorías Internas.</a></td>
                    </tr>

                </table>
              </div>

            </div>
          </div>
        </div><!-- Fin Procedimientos-->

          <!-- Procesos-->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseD3">PROCESOS</a>
                 
                </h4>
              </div>
              <div id="collapseD3" class="panel-collapse collapse">
                <div class="panel-body">
  
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre del Documento</th>
                        <th scope="col">Última Actualización</th>
                        <th scope="col">Abrir Documento</th>
                      </tr>
                    </thead>
                    <tbody>
  
                      <tr>
                        <th scope="row"> PCDIC001-D PLAN DE CALIDAD.</th>
                        <td>AAAA-MM-DD</td>
                        <td><a class="text-highlight" href="/assets/documentos/Dic/Procesos/PCDIC001-D_Plan_de_Calidad.pdf"
                            target="_blank" title="PCDIC001-D">PCDIC001-D PLAN DE CALIDAD.</a></td>
                      </tr>

                      <tr>
                        <th scope="row"> PRDIC008-E ASESORÍAS Y TUTORÍAS.</th>
                        <td>AAAA-MM-DD</td>
                        <td><a class="text-highlight" href="/assets/documentos/Dic/Procesos/PRDIC008-E_Procedimiento_de_Asesorias_y_Tutorias.pdf"
                            target="_blank" title="PRDIC008-E">PRDIC008-E ASESORÍAS Y TUTORÍAS.</a></td>
                      </tr>
  
                  </table>
                </div>
  
              </div>
            </div>
          </div><!-- Fin Procesos-->


            <!-- Registros-->

            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseD4">REGISTROS</a>
                   
                  </h4>
                </div>
                <div id="collapseD4" class="panel-collapse collapse">
                  <div class="panel-body">
    
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Nombre del Documento</th>
                          <th scope="col">Última Actualización</th>
                          <th scope="col">Abrir Documento</th>
                        </tr>
                      </thead>
                      <tbody>
    
                        <tr>
                          <th scope="row"> REDIC002-A PLANEACIÓN CUATRIMESTRAL DE ASIGNATURAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC002A_PLANEACION_CUATRIMESTRAL_DE_ASIGNATURAS.pdf"
                              target="_blank" title="REDIC002-A">REDIC002-A PLANEACIÓN CUATRIMESTRAL DE ASIGNATURAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC003-B PROPUESTA CUATRIMESTRAL DE PERSONAL DOCENTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC003B_PROPUESTA_CUATRIMESTRAL_DE_PERSONAL_DOCENTE.pdf"
                              target="_blank" title="REDIC003-B"> REDIC003-B PROPUESTA CUATRIMESTRAL DE PERSONAL DOCENTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">   REDIC004-B HORARIO SEMANAL DE ASIGNATURAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC004-B_HORARIO_SEMANAL_DE_ASIGNATURAS.pdf"
                              target="_blank" title="REDIC004-B">  REDIC004-B HORARIO SEMANAL DE ASIGNATURAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">   REDIC007-A CONTROL DE AVANCES DE LA PROG. CUATR. DE ASIG.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC007A_CONTROL_DE_AVANCES_DE_LA_PROG_CUATR_DE_ASIG.pdf"
                              target="_blank" title="REDIC007-A">  REDIC007-A CONTROL DE AVANCES DE LA PROG. CUATR. DE ASIG.</a></td>
                        </tr>
                        
                        <tr>
                          <th scope="row">  REDIC008-C RELACIÓN DE EXÁMENES Y EDUCANDOS SUSTENTABLES.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC008-C_RELACION_DE_EXAMENES_Y_EDUCANDOS_SUSTENTABLES.pdf"
                              target="_blank" title="REDIC008-C">  REDIC008-C RELACIÓN DE EXÁMENES Y EDUCANDOS SUSTENTABLES.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC010-A EVALUACIÓN DEL DOCENTE POR ALUMNO.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC010A_EVALUACIoN_DEL_DOCENTE_POR_ALUMNO.pdf"
                              target="_blank" title="REDIC010-A"> REDIC010-A EVALUACIÓN DEL DOCENTE POR ALUMNO.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC011-A RESUMEN DE EVALUACIÓN DE DOCENTES POR ALUMNO.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC011-A_Resumen_de_evaluacion_de_docentes_por_alumno.pdf"
                              target="_blank" title="REDIC011-A"> REDIC011-A RESUMEN DE EVALUACIÓN DE DOCENTES POR ALUMNO.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC012-E CALENDARIO DE EXÁMENES.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC012-E_Calendario_de_examenes.pdf"
                              target="_blank" title="REDIC012-E"> REDIC012-E CALENDARIO DE EXÁMENES.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC013-B EVALUACIÓN DESEMPEÑO DOCENTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC013_B_Evaluacion_desempeno_docente.pdf"
                              target="_blank" title="REDIC013-B">  REDIC013-B EVALUACIÓN DESEMPEÑO DOCENTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC015-A RESUMEN DE PROYECTOS DE ESTADÍAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC015A_RESUMEN_DE_PROYECTOS_DE_ESTADIAS.pdf"
                              target="_blank" title="REDIC015-A">  REDIC015-A RESUMEN DE PROYECTOS DE ESTADÍAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC016-B LIBERACIÓN DE ESTADÍA.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC016_B_Liberacion_de_Estadia_08_04_19.pdf"
                              target="_blank" title="REDIC016-B">  REDIC016-B LIBERACIÓN DE ESTADÍA.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC017-B SOLICITUD DE PERSONAL DOCENTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC017-B_Solicitud_de_personal_docente.pdf"
                              target="_blank" title="REDIC017-B">  REDIC017-B SOLICITUD DE PERSONAL DOCENTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC019-B CRONOGRAMA ESTADÍA.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC019-B_Cronograma_de_Estadia.pdf"
                              target="_blank" title="REDIC019-B"> REDIC019-B CRONOGRAMA ESTADÍA.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC022-D PLANEACIÓN CUATRIMESTRAL DE ASIGNATURA POR COMPETENCIAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC022-D_Planeacion_cuatrimestral_de_asignatura_por_competencias.pdf"
                              target="_blank" title="REDIC022-D"> REDIC022-D PLANEACIÓN CUATRIMESTRAL DE ASIGNATURA POR COMPETENCIAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC023-C MODELO DE EVALUACIÓN DEL APRENDIZAJE POR COMPETENCIAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC023C_MODELO_DE_EVAL_DEL_APRENDIZAJE_POR_COMP.pdf"
                              target="_blank" title="REDIC023-C">REDIC023-C MODELO DE EVALUACIÓN DEL APRENDIZAJE POR COMPETENCIAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC024-C EVALUACIÓN DE ASIGNATURA POR CP.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC024-C EVALUACIÓN DE ASIGNATURA.pdf"
                              target="_blank" title="REDIC024-C"> REDIC024-C EVALUACIÓN DE ASIGNATURA POR CP.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC025-A SEGUIMIENTO AL ALUMNO EN ESTADÍA.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC025A_SEGUIMIENTO_AL_ALUMNO_EN_ESTADIA.pdf"
                              target="_blank" title="REDIC025-A"> REDIC025-A SEGUIMIENTO AL ALUMNO EN ESTADÍA.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC026-A EVALUACIÓN DEL CURSO DE OPOSICIÓN PARA PA.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC026A_EVALUACION_DEL_CURSO_DE_OPOSICION_PARA_PA.pdf"
                              target="_blank" title="REDIC026-A"> REDIC026-A EVALUACIÓN DEL CURSO DE OPOSICIÓN PARA PA.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC051-A PROPUESTA DE CAMBIOS DE TEMAS DE ASIGNATURAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC051A_PROPUESTA_DE_CAMBIOS_DE_TEMAS_DE_ASIGNATURAS.pdf"
                              target="_blank" title="REDIC051-A">  REDIC051-A PROPUESTA DE CAMBIOS DE TEMAS DE ASIGNATURAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC052-A CONTROL DE PROPUESTAS DE CAMBIO A ASIGNATURA.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC052A_CONTROL_DE_PROPUESTAS_DE_CAMBIO_A_ASIGNATURA.pdf"
                              target="_blank" title="REDIC052-A">   REDIC052-A CONTROL DE PROPUESTAS DE CAMBIO A ASIGNATURA.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC081-A ENTREVISTA INICIAL AL ESTUDIANTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC081A_ENTREVISTA_INICIAL_AL_ESTUDIANTE.pdf"
                              target="_blank" title="REDIC081-A"> REDIC081-A ENTREVISTA INICIAL AL ESTUDIANTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC083-A CONTROL MENSUAL DE ASESORÍAS Y TUTORÍAS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC083A_CONTROL_MENSUAL_DE_ASESORiAS_Y_TUTORiAS.pdf"
                              target="_blank" title="REDIC083-A">  REDIC083-A CONTROL MENSUAL DE ASESORÍAS Y TUTORÍAS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row">  REDIC086-A CANALIZACIÓN DEL ESTUDIANTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC086-A__Canalizacion_del_estudiante.pdf"
                              target="_blank" title="REDIC086-A">  REDIC086-A CANALIZACIÓN DEL ESTUDIANTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC088-C CUESTIONARIO PARA MEDIR LA SATISFACCIÓN DE LOS ALUMNOS.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC088-C_CUESTIONARIO_PARA_MEDIR_LA_SATISFACCION_DE_LOS_ALUMNOS.pdf"
                              target="_blank" title="REDIC088-C"> REDIC088-C CUESTIONARIO PARA MEDIR LA SATISFACCIÓN DE LOS ALUMNOS.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC089-C RESULTADO DE LA DETECCIÓN DE NECESIDADES Y MEDICIÓN DE LA SATISFACCIÓN DEL ESTUDIANTE.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC089-C_Resultados_de_Deteccion_de_necesidades_y_satisfaccion_del_cliente.pdf"
                              target="_blank" title="REDIC089-C"> REDIC089-C RESULTADO DE LA DETECCIÓN DE NECESIDADES Y MEDICIÓN DE LA SATISFACCIÓN DEL ESTUDIANTE.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC090-A CAPTURA EXTEMPORÁNEA O MODIFICACIÓN DE CALIFICACIÓN.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC090_A_Formato_Permiso_de_captura_extemporanea.pdf"
                              target="_blank" title="REDIC090-A">REDIC090-A CAPTURA EXTEMPORÁNEA O MODIFICACIÓN DE CALIFICACIÓN.</a></td>
                        </tr>

                        <tr>
                          <th scope="row"> REDIC091-A PROGRAMA DE ACCIÓN TUTORIAL.</th>
                          <td>AAAA-MM-DD</td>
                          <td><a class="text-highlight" href="/assets/documentos/Dic/Registros/REDIC091-A_Programa_de_Accion_Tutorial.pdf"
                              target="_blank" title="REDIC091-A">REDIC091-A PROGRAMA DE ACCIÓN TUTORIAL.</a></td>
                        </tr>


                    </table>
                  </div>
    
                </div>
              </div>
            </div><!-- Fin  Dirección-->
          

              <!-- Panel Escolares-->
        <h3 class="title-border mt-5">SERVICIOS ESCOLARES</h3>
        <!-- Instructivos-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseE1">INSTRUCTIVOS</a>
                     
                      </h4>
                    </div>
                    <div id="collapseE1" class="panel-collapse collapse ">
                      <div class="panel-body">
        
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre del Documento</th>
                              <th scope="col">Última Actualización</th>
                              <th scope="col">Abrir Documento</th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr>
                              <th scope="row"> INESC001-B PREPARACIÓN Y APLICACIÓN DEL EXANI II.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Instructivos/INESC001-B_Instruccion_de_Trabajo_Preparacion_y_Aplicacion_del_EXANI_II.pdf"
                                  target="_blank" title="INESC001-B">INESC001-B PREPARACIÓN Y APLICACIÓN DEL EXANI II.</a></td>
                            </tr>

                            <tr>
                              <th scope="row">  INESC003-C TITULACIÓN.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Instructivos/INESC003-C_Instruccion_de_Trabajo_de_Titulacion.pdf"
                                  target="_blank" title="INESC003-C"> INESC003-C TITULACIÓN.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> INESC004-A SOLICITUD DE BAJA.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Instructivos/INESC004-A_solicitud_de_baja.pdf"
                                  target="_blank" title="INESC004-A"> INESC004-A SOLICITUD DE BAJA.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> INESC005-B REINSCRIPCIÓN.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Instructivos/INESC005-B_Instruccion_de_Trabajo_Reinscripciones.pdf"
                                  target="_blank" title="INESC005-B"> INESC005-B REINSCRIPCIÓN.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> INESC006-A ADMISIÓN PARA LA CONTINUIDAD DE ESTUDIOS.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Instructivos/INESC006-A_Instruccion_de_Trabajo_Admision_para_la_Continuidad_de_Estudios.pdf"
                                  target="_blank" title="INESC006-A"> INESC006-A ADMISIÓN PARA LA CONTINUIDAD DE ESTUDIOS.</a></td>
                            </tr>
        
                        </table>
                      </div>
        
                    </div>
                  </div>
                </div><!-- Fin Instructivos-->
        
                <!-- Procedimientos-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseE2">PROCEDIMIENTOS</a>
                       
                      </h4>
                    </div>
                    <div id="collapseE2" class="panel-collapse collapse">
                      <div class="panel-body">
        
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre del Documento</th>
                              <th scope="col">Última Actualización</th>
                              <th scope="col">Abrir Documento</th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr>
                              <th scope="row"> PDESC001-G ADMISIÓN E INSCRIPCIÓN.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Procedimientos/PDESC001_G_Admision_e_Inscripcion.pdf"
                                  target="_blank" title="PDESC001-G ">PDESC001-G ADMISIÓN E INSCRIPCIÓN.</a></td>
                            </tr>
        
                        </table>
                      </div>
        
                    </div>
                  </div>
                </div><!-- Fin Procedimientos-->
        
                <!-- registros-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseE3">Registros</a>
                      </h4>
                    </div>
                    <div id="collapseE3" class="panel-collapse collapse ">
                      <div class="panel-body">
        
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre del Documento</th>
                              <th scope="col">Última Actualización</th>
                              <th scope="col">Abrir Documento</th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr>
                              <th scope="row"> REESC004-A BAJA DE ALUMNO.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC004-A_Baja_de_alumno.pdf"
                                  target="_blank" title="REESC004-A ">REESC004-A BAJA DE ALUMNO.</a></td>
                            </tr>
        
                            <tr>
                              <th scope="row">  REESC006-B RELACIÓN DE DOCUMENTOS EN EXPEDIENTES.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC006-B_Relacion_de_documentos_en_expedientes.pdf"
                                  target="_blank" title="REESC006-B"> REESC006-B RELACIÓN DE DOCUMENTOS EN EXPEDIENTES.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> 	 REESC007-C CARTA DE NO ADEUDOS.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC007-C_CARTA_DE_NO_ADEUDOS.pdf"
                                  target="_blank" title="REESC007-C">	 REESC007-C CARTA DE NO ADEUDOS.</a></td>
                            </tr>
        
                            <tr>
                              <th scope="row"> 	 REESC009-B PRÉSTAMO DE DOCUMENTOS.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC009-B_PRESTAMO_DE_DOCUMENTOS.pdf"
                                  target="_blank" title="REESC009-B">	 REESC009-B PRÉSTAMO DE DOCUMENTOS.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> REESC010-A LISTA DE DEVOLUCIÓN DE DOCUMENTOS ORIGINALES.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC010-A_Lista_de_devolucion__de_documentos_originales.pdf"
                                  target="_blank" title="REESC010-A">REESC010-A LISTA DE DEVOLUCIÓN DE DOCUMENTOS ORIGINALES.</a></td>
                            </tr>
        
                            <tr>
                              <th scope="row"> REESC011-A CALENDARIO ESCOLAR.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC011-A_Calendario_escolar.pdf"
                                  target="_blank" title="REESC011-A">REESC011-A CALENDARIO ESCOLAR.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> 	 REESC014-C FOLLETO DE TITULACIÓN.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC014-C_FOLLETO_DE_TITULACION.pdf"
                                  target="_blank" title="REESC014-C">	 REESC014-C FOLLETO DE TITULACIÓN.</a></td>
                            </tr>
        
                            <tr>
                              <th scope="row">  REESC016-A CAMBIO DE PROGRAMA EDUCATIVO Y-O GRUPO.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC016-A_Cambio_de_programa_educativo_y-o_grupo.pdf"
                                  target="_blank" title="REESC016-A ">  REESC016-A CAMBIO DE PROGRAMA EDUCATIVO Y-O GRUPO.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> 	 REESC018-B REQUISITOS PARA INSCRIPCIÓN ING.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Esc/Registros/REESC018-B_Requisitos_nivel_ING.pdf"
                                  target="_blank" title="REESC018-B">REESC018-B REQUISITOS PARA INSCRIPCIÓN ING.</a></td>
                            </tr>
        
                        </table>
                      </div>
        
                    </div>
                  </div>
                </div><!-- Fin Procesos-->
                <!--/ Panel Escolares end-->
        
                <!-- Panel DAF-->
        <h3 class="title-border mt-5">Dirección de Administración y Finanzas</h3>
        <!-- INSTRUCTIVOS-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseDaf1">INSTRUCTIVOS</a>
                     
                      </h4>
                    </div>
                    <div id="collapseDaf1" class="panel-collapse collapse ">
                      <div class="panel-body">
        
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre del Documento</th>
                              <th scope="col">Última Actualización</th>
                              <th scope="col">Abrir Documento</th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr>
                              <th scope="row"> INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF001-A_Compras.pdf"
                                  target="_blank" title="INDAF001-A">INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> INDAF002-A FONDO REVOLVENTE.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF002-A_fondo_revolvente.pdf"
                                  target="_blank" title="INDAF002-A">INDAF002-A FONDO REVOLVENTE.</a></td>
                            </tr>
        
                        </table>
                      </div>
        
                    </div>
                  </div>
                </div><!-- Fin INSTRUCTIVOS-->
        
                <!--/ Panel DAF end-->
        
                 <!-- Panel RHS-->
        <h3 class="title-border mt-5">RECURSOS HUMANOS</h3>
        <!-- PROCEDIMIENTOS-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRh1">PROCEDIMIENTOS</a>
                     
                      </h4>
                    </div>
                    <div id="collapseRh1" class="panel-collapse collapse ">
                      <div class="panel-body">
        
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre del Documento</th>
                              <th scope="col">Última Actualización</th>
                              <th scope="col">Abrir Documento</th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr>
                              <th scope="row"> INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF001-A_Compras.pdf"
                                  target="_blank" title="INDAF001-A">INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</a></td>
                            </tr>

                            <tr>
                              <th scope="row"> INDAF002-A FONDO REVOLVENTE.</th>
                              <td>AAAA-MM-DD</td>
                              <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF002-A_fondo_revolvente.pdf"
                                  target="_blank" title="INDAF002-A">INDAF002-A FONDO REVOLVENTE.</a></td>
                            </tr>
        
                        </table>
                      </div>
        
                    </div>
                  </div>
                </div><!-- Fin PROCEDIMIENTOS-->

                    <!-- REGISTROS-->
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseRh2">REGISTROS</a>
                         
                          </h4>
                        </div>
                        <div id="collapseRh2" class="panel-collapse collapse ">
                          <div class="panel-body">
            
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Nombre del Documento</th>
                                  <th scope="col">Última Actualización</th>
                                  <th scope="col">Abrir Documento</th>
                                </tr>
                              </thead>
                              <tbody>
            
                                <tr>
                                  <th scope="row"> INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</th>
                                  <td>AAAA-MM-DD</td>
                                  <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF001-A_Compras.pdf"
                                      target="_blank" title="INDAF001-A">INDAF001-A COMPRAS A TRAVÉS DEL PORTAL DE ADQUISICIONES DE LA SFIA.</a></td>
                                </tr>
    
                                <tr>
                                  <th scope="row"> INDAF002-A FONDO REVOLVENTE.</th>
                                  <td>AAAA-MM-DD</td>
                                  <td><a class="text-highlight" href="/assets/documentos/Daf/Instructivos/INDAF002-A_fondo_revolvente.pdf"
                                      target="_blank" title="INDAF002-A">INDAF002-A FONDO REVOLVENTE.</a></td>
                                </tr>
            
                            </table>
                          </div>
            
                        </div>
                      </div>
                    </div><!-- Fin REGISTROS-->
        
                <!--/ Panel RHS end-->
        
        
      </div>
      <!--/ Accordion end -->

    </div>
  </div>
  <!--/ row end -->

  <!--/ container end -->
</section>
<!--/ Main container end -->


<div class="gap-40"></div>

<app-footer></app-footer>