<app-header></app-header>
<div id="banner-area">
  <!-- Tu contenido del banner -->
</div>

<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12" *ngFor="let departamento of departamentos">
        <!-- Panel Rectoría-->
        <h3 class="title-border mt-5">{{ departamento.nombre }}</h3>
        <!-- Procedimientos-->
        <div class="panel-group" id="accordion">
          <!-- Iterar sobre las categorías únicas -->
          <div class="panel panel-default" *ngFor="let categoria of getCategorias(departamento.documentos)">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                  [href]="'#collapse' + categoria.id">{{ categoria.nombre }}</a>
              </h4>
            </div>
            <!-- Mostrar los documentos de la categoría en este panel -->
            <div [id]="'collapse' + categoria.id" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del Documento</th>
                      <th>Código</th>
                      <th>Revisión</th>
                      <th>Fecha</th>
                      <th scope="col">Abrir Documento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Filtrar y mostrar documentos de la categoría actual -->
                    <tr *ngFor="let documento of departamento.documentos | filterByCategoria: categoria.id">
                      <th scope="row">{{ documento.nombre }}</th>
                      <td>{{ documento.codigo }}</td>
                      <td>{{ documento.revision }}</td>
                      <td>{{ documento.fecha }}</td>
                      <td><a class="text-highlight" [href]="documento.archivo" target="_blank" title="{{ documento.nombre }}">
                          <img src="assets/images/pdf.jpg" alt=""></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/ Panel Rectoría end-->
      </div>
      <!--/ Accordion end -->
    </div>
  </div>
  <!--/ row end -->
  <!--/ container end -->
</section>
<!--/ Main container end -->

<div class="gap-40"></div>

<app-footer></app-footer>
